@use '../../index' as *;

.Wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;

  .Title {
    @include font-black(64px);
    color: white;
    letter-spacing: 9.6px;

    @media only screen and (min-width: $min-desktop-width) {
      @include font-black(220px);
      letter-spacing: 33px;
    }
  }

  .CardContainer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 27px;
    margin-top: 47px;
    padding-bottom: 60px;

    & > div {
      @include shadow-default;
    }

    & > div:nth-child(3n-2) {
      background-color: $color-gray;
    }

    & > div:nth-child(3n-1) {
      background-color: $color-orange;
    }

    & > div:nth-child(3n) {
      background-color: $color-blue;
    }

    @media only screen and (min-width: $min-desktop-width) {
      grid-template-columns: repeat(4, 1fr);

      & > div {
        box-shadow: 0 4px 11.1px 0 #00000040;
      }

      & > div:nth-child(4n-3) {
        background-color: $color-gray;
      }
      & > div:nth-child(4n-2) {
        background-color: $color-orange;
      }
      & > div:nth-child(4n-1) {
        background-color: $color-blue;
      }
      & > div:nth-child(4n) {
        background-color: $color-black;
      }
    }
  }

  .Loader {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 16px;
    min-height: 50px;
  }
}
