@use './variables' as *;

.Wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;

  .Title {
    @include font-black(64px);
    text-align: center;
    color: white;
    letter-spacing: 9.6px;

    @media only screen and (min-width: $min-desktop-width) {
      @include font-black(220px);
      letter-spacing: 33px;
    }
  }

  .CardContainer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 27px;
    margin-top: 47px;
    padding-bottom: 60px;

    & > div {
      @include shadow-default;
    }

    & > div:nth-child(3n-2) {
      background-color: $color-gray;
    }

    & > div:nth-child(3n-1) {
      background-color: $color-orange;
    }

    & > div:nth-child(3n) {
      background-color: $color-blue;
    }

    @media only screen and (min-width: $min-desktop-width) {
      grid-template-columns: repeat(4, 1fr);

      & > div {
        box-shadow: 0 4px 11.1px 0 #00000040;
      }

      & > div:nth-child(4n-3) {
        background-color: $color-gray;
      }
      & > div:nth-child(4n-2) {
        background-color: $color-orange;
      }
      & > div:nth-child(4n-1) {
        background-color: $color-blue;
      }
      & > div:nth-child(4n) {
        background-color: $color-black;
      }
    }
  }
}

.Loader {
  grid-column: 1 / -1;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 16px;
  min-height: 50px;
}

.FloatingButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  padding-bottom: 4px;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  }
}
