@use '../../../index.scss' as *;

.Container {
  @extend .radius-15;
  @include shadow-default;
  background-color: white;
  width: 100%;
  height: 128px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media only screen and (min-width: $min-desktop-width) {
    box-shadow: 0 4px 11.1px 0 #00000040;
    width: 240px;
    height: 352px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
  }

  .MainInfo {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $min-desktop-width) {
      gap: 48px;
    }

    .Temperature {
      @include font-black(48px);
      text-wrap: nowrap;

      @media only screen and (min-width: $min-desktop-width) {
        order: 2;
        @include font-black(64px);
      }
    }

    .Details {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      margin-top: auto;

      @media only screen and (min-width: $min-desktop-width) {
        display: contents;
      }

      .CityInfo {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .CityName {
          @include font-bold(9px);
        }

        .AQI {
          @include font-regular(9px);
        }

        @media only screen and (min-width: $min-desktop-width) {
          order: 3;
          gap: 4px;

          .AQI {
            @include font-regular(12px);
          }

          .CityName {
            @include font-bold(12px);
          }
        }
      }

      .Datetime {
        @include font-regular(9px);

        @media only screen and (min-width: $min-desktop-width) {
          order: 1;
          @include font-regular(12px);
        }
      }
    }
  }

  .ForecastDetails {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $min-desktop-width) {
      height: auto;
      width: 100%;
    }

    .AirFactors {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 4.5px;

      @media only screen and (min-width: $min-desktop-width) {
        gap: 6px;
      }
    }

    .HourlyForecast {
      display: flex;
      flex-direction: column;
      gap: 9px;
      margin-top: auto;

      @media only screen and (min-width: $min-desktop-width) {
        display: none;
      }
    }
  }
}
